In [8]:
import requests
import json
import csv

In [9]:
reponse = requests.get('https://coronavirus.m.pipedream.net/')

In [10]:
data = json.loads(reponse.text)

In [11]:
data.keys()

dict_keys(['summaryStats', 'cache', 'dataSource', 'apiSourceCode', 'rawData'])

In [17]:
columns = ['Country_Region','Confirmed','Deaths']

In [21]:
with open('covidStatistics.csv','w',newline='') as f:
    writer = csv.DictWriter(f,columns)
    writer.writeheader()
    for i in data['rawData']:
        country = i['Country_Region']
        confirmed = i['Confirmed']
        deaths = i['Deaths']
        writer.writerow({columns[0]:country,columns[1]: confirmed, columns[2]:deaths})

In [22]:
import pandas as pd
d = pd.read_csv('covidStatistics.csv')
d

            Country_Region  Confirmed  Deaths
0              Afghanistan     175353    7630
1                  Albania     272337    3483
2                  Algeria     265323    6858
3                  Andorra      38710     152
4                   Angola      98829    1900
...                    ...        ...     ...
4005    West Bank and Gaza     652298    5583
4006  Winter Olympics 2022        533       0
4007                 Yemen      11781    2138
4008                Zambia     314159    3959
4009              Zimbabwe     240343    5400

[4010 rows x 3 columns]

In [23]:
response2 = requests.get("https://gorest.co.in/public-api/users?_format=json&access-token=H4lYmIGLXZkDlpy_w0ZVS5rgcpDXbN7fhRRy")
employees = json.loads(response2.text)

In [34]:
employee_info =employees['data']
colums2 = ['name','gender','e-mail','is_active']

In [36]:
with open('employees.csv','w',newline='') as file:
    writer = csv.DictWriter(file,fieldnames=colums2 )
    writer.writeheader()
    for item in employee_info:
        name = item['name']
        gender = item['gender']
        email = item['email']
        active = 1 if item['status'] == 'active' else 0
        writer.writerow({colums2[0]:name, colums2[1]: gender, colums2[2]:email, colums2[3]: active})

In [37]:

import pandas as pd
data = pd.read_csv('employees.csv')
data

,name,gender,e-mail,is_active
0,Rev. Aatreya Guha,female,aatreya_guha_rev@reichel-okeefe.org,1
1,Ahilya Mukhopadhyay,male,mukhopadhyay_ahilya@vandervort.io,1
2,Rev. Devesh Ahluwalia,female,rev_devesh_ahluwalia@lind.name,0
3,Aasa Shah,female,shah_aasa@wisoky.org,0
4,Chitraksh Prajapat,male,chitraksh_prajapat@quitzon-howell.co,0
5,Archan Menon,male,archan_menon@grady.net,1
6,Deepan Kakkar,female,deepan_kakkar@lesch.org,0
7,Usha Mehrotra III,male,usha_mehrotra_iii@stoltenberg.io,0
8,Vidhya Nambeesan,male,nambeesan_vidhya@fisher.com,1
9,Dayamayee Achari,male,dayamayee_achari@lubowitz.org,0
10,Mani Gill PhD,female,mani_phd_gill@walker.co,0
11,Vrinda Bandopadhyay,female,bandopadhyay_vrinda@klocko-hauck.com,1
12,Arjun Gupta,female,arjun_gupta@ryan.info,1
13,Gati Ahluwalia,female,ahluwalia_gati@mraz.net,1
14,Aarya Bhat,female,bhat_aarya@botsford.net,0
15,Aagam Trivedi,female,aagam_trivedi@cronin.info,1
16,Triloki Dubashi,male,dubashi_triloki@roberts-kshlerin.net,0
17,Bhooshan Varman,male,varman_bhooshan@rogahn.info,1
18,Agnimitra Varrier,female,varrier_agnimitra@collins.biz,0
19,The Hon. Shresthi Khan,female,the_shresthi_hon_khan@kerluke.net,1

In [38]:
with open('employees2.csv','w',newline='') as file:
    writer = csv.DictWriter(file,fieldnames=colums2 )
    writer.writeheader()
    for item in employee_info:
        name = item['name']
        gender = item['gender']
        email = item['email']
        active = 1 if item['status'] == 'active' else 0
        writer.writerow({colums2[0]:name, colums2[1]: gender, colums2[2]:email, colums2[3]: active})

In [39]:
employee_info

[{'id': 3591,
  'name': 'Rev. Aatreya Guha',
  'email': 'aatreya_guha_rev@reichel-okeefe.org',
  'gender': 'female',
  'status': 'active'},
 {'id': 3589,
  'name': 'Ahilya Mukhopadhyay',
  'email': 'mukhopadhyay_ahilya@vandervort.io',
  'gender': 'male',
  'status': 'active'},
 {'id': 3588,
  'name': 'Rev. Devesh Ahluwalia',
  'email': 'rev_devesh_ahluwalia@lind.name',
  'gender': 'female',
  'status': 'inactive'},
 {'id': 3587,
  'name': 'Aasa Shah',
  'email': 'shah_aasa@wisoky.org',
  'gender': 'female',
  'status': 'inactive'},
 {'id': 3586,
  'name': 'Chitraksh Prajapat',
  'email': 'chitraksh_prajapat@quitzon-howell.co',
  'gender': 'male',
  'status': 'inactive'},
 {'id': 3585,
  'name': 'Archan Menon',
  'email': 'archan_menon@grady.net',
  'gender': 'male',
  'status': 'active'},
 {'id': 3584,
  'name': 'Deepan Kakkar',
  'email': 'deepan_kakkar@lesch.org',
  'gender': 'female',
  'status': 'inactive'},
 {'id': 3583,
  'name': 'Usha Mehrotra III',
  'email': 'usha_mehrotra_iii@stoltenberg.io',
  'gender': 'male',
  'status': 'inactive'},
 {'id': 3582,
  'name': 'Vidhya Nambeesan',
  'email': 'nambeesan_vidhya@fisher.com',
  'gender': 'male',
  'status': 'active'},
 {'id': 3581,
  'name': 'Dayamayee Achari',
  'email': 'dayamayee_achari@lubowitz.org',
  'gender': 'male',
  'status': 'inactive'},
 {'id': 3580,
  'name': 'Mani Gill PhD',
  'email': 'mani_phd_gill@walker.co',
  'gender': 'female',
  'status': 'inactive'},
 {'id': 3578,
  'name': 'Vrinda Bandopadhyay',
  'email': 'bandopadhyay_vrinda@klocko-hauck.com',
  'gender': 'female',
  'status': 'active'},
 {'id': 3577,
  'name': 'Arjun Gupta',
  'email': 'arjun_gupta@ryan.info',
  'gender': 'female',
  'status': 'active'},
 {'id': 3576,
  'name': 'Gati Ahluwalia',
  'email': 'ahluwalia_gati@mraz.net',
  'gender': 'female',
  'status': 'active'},
 {'id': 3575,
  'name': 'Aarya Bhat',
  'email': 'bhat_aarya@botsford.net',
  'gender': 'female',
  'status': 'inactive'},
 {'id': 3574,
  'name': 'Aagam Trivedi',
  'email': 'aagam_trivedi@cronin.info',
  'gender': 'female',
  'status': 'active'},
 {'id': 3573,
  'name': 'Triloki Dubashi',
  'email': 'dubashi_triloki@roberts-kshlerin.net',
  'gender': 'male',
  'status': 'inactive'},
 {'id': 3572,
  'name': 'Bhooshan Varman',
  'email': 'varman_bhooshan@rogahn.info',
  'gender': 'male',
  'status': 'active'},
 {'id': 3571,
  'name': 'Agnimitra Varrier',
  'email': 'varrier_agnimitra@collins.biz',
  'gender': 'female',
  'status': 'inactive'},
 {'id': 3570,
  'name': 'The Hon. Shresthi Khan',
  'email': 'the_shresthi_hon_khan@kerluke.net',
  'gender': 'female',
  'status': 'active'}]